*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    justify-content:space-between;
    
}

nav::before{
    content: "";
    background-image: url('/Images/first.jpg');
    height: 70%;
    width: 100%;
    position: absolute;
    background-size:cover;
    background-position:center;
    z-index: -1;
    opacity: 0.68;
}

ul{
    display: flex;
    position: relative;
    right: 15px;
}

ul li{
    list-style: none;
    padding: 19px;
    font-size: 21px;
}

ul li a{
    color: black;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul li a:hover{
    padding: 9px;
    border-radius: 9px;
    color: red;
    background-color: rgb(103, 103, 206);
}

.logo{
    display: flex;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: 10px;
    left: 41px;
    font-family:cursive;
    color: rgba(19, 47, 32, 0.979);
}

.second_title{
    position: absolute;
    top: 181px;
    left: 185px;
    font-size: 1.7rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.para_first{
   width: 452px;
   position: relative;
   top: 250px;
   left: 185px;
   font-size:1.20rem;
   color:white
   /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

/* ---------------------------------------------------- */
section{
    position: relative;
    top: 600px;
    margin-left: 452px;
    height: 500px;
}

.head_secondary{
    font-size: 2.8rem;
    position: absolute;
    left: 29px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(4, 4, 4); 
}

.para_secondary{
    position: absolute;
    left: 31px;
    top: 122px;
    font-size: 19px;  
}

.consulting{
    position: absolute;
    top: 260px;
    left: 12px;
}

.img_1{
    height: 4vh;
}

.consulting .head_third{
    margin-left:20px;
    font-size: 19px;
}

.para_third{
    margin-left: 21px;

}

.marketing{
    position: absolute;
    top: 260px;
    left: 350px;
}

.head_fourth{
    margin-left:20px;
    font-size: 19px;
}

.design{
    position: absolute;
    top: 255px;
    right: 120px;
}

.img_2{
    height: 4vh;
}

.head_fifth{
    margin-left:20px;
    font-size: 19px;
}

.main{
    font-size: 1.5rem;
    position: absolute;
    color: blue;
    top:650px;
    left: 130px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    position:relative;
    top: 410px;
    left: 758px;
}
#btn_1{
    padding:9px 18px;
    margin: 9px;
    border-radius:12px;
    background-color:blue;
    color: white;
}
#btn_2{
    padding:9px 18px;
    margin: 9px;
     border-radius:12px;
     background-color:blue;
     color: white;
}

#btn_2:hover{
    padding: 10px 20px;
    color: white;
    background-color: rgb(255, 74, 3);
}
#btn_1:hover{
    padding: 10px 20px;
    color: white;
    background-color: rgb(225, 74, 3);
}







